<!doctype html>
<html lang="en">
	<%- include('partials/metadata', locals.title) %>
	<body>
		<div id="root" class="grid">
			<%- include('partials/navbar') %>
			<main class="flex flex-col gap-l max-w mx-auto p-m w-full">
				<h2 class="fs-l fw-bold"><%= file.name %></h2>
				<p>Size: <%= file.size %> bytes</p>

				<p>
					Uploaded at:
					<time datetime="<%= file.createdAt %>"><%= formatDate(file.createdAt) %></time>
				</p>

				<%- include('partials/button-link', { href: `/download/${file.id}`, label: 'Download' }) %>
			</main>
			<%- include('partials/footer') %>
		</div>
	</body>
</html>
