<!doctype html>
<html lang="en">
	<%- include('partials/metadata', locals.title) %>
	<body>
		<div id="root" class="grid">
			<%- include('partials/navbar') %>
			<main class="max-w mx-auto p-m w-full">
				<fieldset class="border border-radius flex flex-col gap-2xl p-2xl">
					<legend class="fs-l fw-bold"><%= locals.title %></legend>
					<form
						class="flex flex-col gap-2xl"
						action="<%= action %>"
						method="post"
					>
						<% if (locals.errs != null) { %>
							<%- include('partials/alert', {
								level: 'danger',
								children: `
									<p class="fw-medium">
										The form contains the following errors:
									<p>
									${include('partials/forms/errors', errs)}
								`,
							}) %>
						<% } %>

						<% for (const input of inputs) { %>
							<%- include('partials/forms/input-field', input) %>
						<% } %>

						<% if (locals.hasTextarea) {%>
							<%- include('partials/forms/textarea-field', textarea) %>
						<% } %>

						<%- include('partials/forms/button', { label: submissionLabel }) %>
					</form>
				</fieldset>
			</main>
			<%- include('partials/footer') %>
		</div>
	</body>
</html>
