<!doctype html>
<html lang="en">
	<%- include('partials/metadata', locals.title) %>
	<body>
		<div id="root" class="grid">
			<%- include('partials/navbar') %>
			<main class="flex flex-col gap-xl max-w mx-auto p-m w-full">
				<div class="flex flex-wrap gap-2xl place-center">
					<% if (locals.folder != null) { %>
						<p class="color-content fs-2xl fw-bold">
							<%= folder.name %>
						</p>
					<% } %>

					<div class="flex flex-wrap gap-xs">
						<%- include('partials/button-link', {
							href: `/upload/${locals.folder == null ? '' : `folder/${folder.id}`}`,
							label: 'Upload file'
						}) %>

						<%- include('partials/button-link', {
							href: '/create-folder/',
							label: 'Create folder'
						}) %>

						<% if (locals.folder != null) { %>
							<%- include('partials/button-link', {
								href: `/edit-folder/${folder.id}`,
								label: 'Edit folder'
							}) %>

							<%- include('partials/button-link', {
								class: '--danger',
								href: `/delete-folder/${folder.id}`,
								label: 'Delete folder'
							}) %>
						<% } %>
					</div>
				</div>

				<%- include('partials/section', {
					name: 'Folders',
					model: locals.folders,
					route: '/folder',
				}) %>

				<%- include('partials/section', {
					name: 'Files',
					model: locals.files,
					route: 'file'
				}) %>
			</main>
			<%- include('partials/footer') %>
		</div>
	</body>
</html>
