<!doctype html>
<html lang="en">
	<%- include('partials/metadata', locals.title) %>
	<body>
		<div id="root" class="grid">
			<%- include('partials/navbar') %>
			<main class="flex flex-col gap-m max-w mx-auto p-m w-full">
				<h2 class="fs-l fw-bold"><%= locals.folder?.name ?? 'Root' %></h2>

				<% if (locals.folder != null) { %>
					<%- include('partials/button-link', {
						class: '--danger',
						href: `/delete-folder/${locals.folder?.id}`,
						label: 'Delete folder'
					}) %>
				<% } %>

				<section>
					<h3 class="fw-medium">Folders</h3>
					<ul class="list-disc p-xs pl-xl">
						<% for (const { id, name } of locals.folders) { %>
							<li><a href="/folder/<%= id %>/"><%= name %></a></li>
						<% } %>
					</ul>
				</section>

				<section>
					<h3 class="fw-medium">Uploads</h3>
					<ul class="list-disc p-xs pl-xl">
						<% for (const { id, name } of locals.uploads) { %>
							<li><a href="upload/<%= id %>/"><%= name %></a></li>
						<% } %>
					</ul>
				</section>
			</main>
			<%- include('partials/footer') %>
		</div>
	</body>
</html>
