<label class="Field flex flex-col gap-2xs">
	<span class="fw-medium"><%= label %></span>
	<input
		class="border border-radius p-xs"
		type="<%= locals.type ?? 'text' %>"
		name="<%= name %>"
		placeholder="<%= locals.placeholder %>"
    maxlength="<%= locals.maxLength %>"
		<%- locals.isRequired ? 'required' : '' %>
		autocomplete=<%= locals.autocomplete ?? 'off' %>
	>
	<span class="fs-s opacity"><%= locals.helperText %></span>
</label>
