<label class="Field flex flex-col gap-2xs">
	<span class="fw-medium"><%= label %></span>
  <textarea
    class="border border-radius p-xs"
    name="<%= name %>"
    maxlength="<%= locals.maxLength %>"
    rows="10"
    <%- locals.isRequired ? 'required' : '' %>
  ></textarea>
  <span class="fs-s opacity"><%= locals.helperText %></span>
</label>
